@media(min-width: 320px){
    .circle1{
        right: 80vw;
        bottom: 90vh;
        height: 25px;
        width: 25px;
    }
    .circle2{
        right: 55vw;
        bottom: 70vw;
        height: 25px;
        width: 25px;
    }
    .circle3{
        right: 85vw;
        bottom: 60vh;
        height: 25px;
        width: 25px;
    }
    .circle4{
        right: 89vw;
        bottom: 60vh;
        height: 50px;
        width: 50px;
    }
    .circle5{
        right: 70vw;
        bottom: 80vh;
        height: 50px;
        width: 50px;
    }
    .circle6{
        right: 80vw;
        bottom: 90vh;
        height: 50px;
        width: 50px;
    }
    .triangle1{
        right: 70vw;
        width: 0;
        height: 0;
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 100px solid green
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: auto;
}
.threebox{
    display: flex;
    
}

.virtual-room {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 0;
}

form {
    width: 80%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"] {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}
.box, .longbox{
    position: relative;
    margin: auto;
    display: block;
    border: solid 0px black;
    margin-top: 1%;
    background: none;
    background-color: #1e78a1;
    margin-right: 0%;
    margin-left: 1%;
    justify-content: center;
}
.longbox{
    width: 470px;
    height: auto;
}

.box{
    width: 158px;
    height: 70px;
}

.circle1,.circle3, .circle5{
    background-color: #ffd966;
    border-radius: 50%;
    position: fixed;
}

.circle2, .circle4, .circle6{
    background-color: lightcoral;
    border-radius: 50%;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }